@import "reset";

#bodyy {
  background-color: #e1edff9d;
  font-family: "Spectral", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .textAvisBlu {
    color: #0074bd;
  }
  .textAvisRed {
    color: #e40613;
  }

  header {
    nav {
      #goccia {
        max-width: 120px;
        min-width: 95px;
      }
      > div div {
        .avis_monte_icon {
          width: 250px;
          transform: scale(1);
          transition: transform 0.3s ease;
          @media screen and (max-width: 578px) {
            width: 190px;
          }
        }
        .transitionnn {
          transform: scale(0.85);
        }
      }

      > button .navbar-toggler-icon {
        padding: 16px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 116, 189,0.75)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        border: 3px solid #0074bd;
        border-radius: 10px;
      }
      div > div div a {
        text-decoration: none;
        color: #0074bd;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: #00355c;
        }
        &.active {
          color: #e40613;
        }
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
      #navbarNav > div {
        margin-right: 6px;
        @media screen and (min-width: 400px) {
          margin-right: 13px;
        }
        @media screen and (min-width: 500px) {
          margin-right: 19px;
        }
        div a {
          border-bottom: 2px solid #d800006b;
          @media screen and (min-width: 576px) {
            border-style: none;
          }
        }
      }
    }
  }

  main {
    flex: 1;
    h1 {
      color: #e40613;
    }
    > section:first-child {
      #heroDesktop {
        display: none;
      }
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        #fefefe 6%,
        #fefefe 94%,
        rgba(255, 255, 255, 0) 100%
      );
      p {
        font-family: "Damion", cursive;
        font-style: italic;
        color: #0074bd;
      }
      div.hero {
        background: url("../images/hero_section.webp");
        height: 28vh;
        @media screen and (min-width: 400px) {
          height: 35vh;
        }
        @media screen and (min-width: 851px) {
          height: 40vh;
        }
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media screen and (min-width: 851px) {
          height: 30vh;
          -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%
          );
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%
          );
        }
      }
    }
    > .lastSectHome {
      contain: layout;
      @media screen and (min-width: 380px) {
        font-size: 120%;
      }

      > div {
        background-image: linear-gradient(to right, #0074bd, #003759);
        border: 2px solid #e40613;
        box-shadow: 8px 8px 16px 1px rgba(0, 108, 208, 0.499);
        -webkit-box-shadow: 8px 8px 16px 1px rgba(0, 108, 208, 0.499);
        -moz-box-shadow: 8px 8px 16px 1px rgba(0, 108, 208, 0.499);

        .row.position-relative::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 103.2%;
          background-color: #e4061527;
        }

        > div > div > div {
          > h5 {
            @media screen and (max-width: 400px) {
              font-size: 72%;
            }
            @media screen and (max-width: 800px) {
              font-size: 93%;
            }
          }
          > div:nth-child(2) {
            > h5 {
              @media screen and (max-width: 400px) {
                font-size: 72%;
              }
              @media screen and (max-width: 800px) {
                font-size: 93%;
              }
            }

            > ul > li {
              list-style-type: disc;
              @media screen and (max-width: 400px) {
                font-size: 68%;
              }
              @media screen and (max-width: 800px) {
                font-size: 68%;
              }
              @media screen and (min-width: 800px) {
                font-size: 90%;
              }
            }
          }
          a {
            text-decoration: none;
            color: white;
            text-shadow: 0 0 6px black;
            background-color: #e40613;
            border: 3px solid #09a1ff;
            @media screen and (max-width: 330px) {
              font-size: 65%;
            }
            @media screen and (min-width: 331px) and (max-width: 380px) {
              font-size: 75%;
            }
            @media screen and (min-width: 381px) and (max-width: 450px) {
              font-size: 85%;
            }
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #960710;
              transform: scale(1.1) rotate(2deg);
            }
          }
          .benvenuT {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    > section:nth-child(2) {
      .carousel-item {
        height: 300px;
        @media screen and (min-width: 350px) {
          height: 400px;
        }
        @media screen and (min-width: 570px) {
          height: 550px;
        }
        @media screen and (min-width: 650px) {
          height: 580px;
        }
        @media screen and (min-width: 770px) {
          height: 600px;
        }
        @media screen and (min-width: 800px) {
          height: 750px;
        }
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    section:nth-child(4) {
      .new-bgCard {
        background: #e40613;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        border-top: 2px solid #0074bd;
        border-right: 2px solid #0074bd;
        border-left: 2px solid #0074bd;
      }
      .border2 {
        border-top: 2px solid #003759;
        border-right: 2px solid #003759;
        border-left: 2px solid #003759;
      }
      .bg-card1 {
        background-color: #0074bd;
        box-shadow: 8px 8px 20px 0px rgba(0, 94, 183, 0.6);
        -webkit-box-shadow: 8px 8px 20px 0px rgba(0, 94, 183, 0.6);
        -moz-box-shadow: 8px 8px 20px 0px rgba(0, 94, 183, 0.6);
      }
      .bg-card2 {
        background-color: #003759;
        box-shadow: 8px 8px 20px 0px rgba(0, 61, 117, 0.6);
        -webkit-box-shadow: 8px 8px 20px 0px rgba(0, 61, 117, 0.6);
        -moz-box-shadow: 8px 8px 20px 0px rgba(0, 61, 117, 0.6);
      }
    }
  }

  footer {
    a {
      text-decoration: none;
      color: #0074bd;
      &:hover {
        color: #004678;
      }
    }
    font-size: 10px;
    @media screen and (min-width: 393px) {
      font-size: 11px;
    }
    @media screen and (min-width: 425px) {
      font-size: 12px;
    }
    @media screen and (min-width: 550px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1100px) {
      font-size: 16px;
    }
    svg {
      @media screen and (max-width: 550px) {
        width: 18px;
        height: 18px;
      }
    }
    .logoFooter {
      width: 80%;
    }
    div:last-child > div > a {
      @media screen and (max-width: 550px) {
        font-size: 13px;
      }
    }
    #arrowUp {
      position: fixed;
      right: 1rem;
      bottom: 1.5rem;
      opacity: 0;
      transform: translateY(90px);
      pointer-events: none;
      transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      .bi-arrow-up-square {
        background-color: #0074bd;
        color: rgb(255, 255, 255);
        border-radius: 18%;
        border: 4px solid #0074bd;
        @media screen and (max-width: 550px) {
          height: 42px;
          width: 42px;
        }
      }
      &.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }
}

@import "sass/bootstrap.scss";
